<% provide(:title, 'All Users') %>



<div class="container">
  <h3 class="title">Users</h3>

  <%= will_paginate %>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th class="text-center"></th>
        <th>Name</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>

      <tbody>

      <% @users.each do |user| %>
          <tr>
            <td class="text-center"><%= link_to gravatar_for(user, size: 50), user %></td>
            <td>  <%= link_to user.name, user %>
              <br/> <%= user.email %>
            </td>
            <td class="td-actions text-right">
              <% if current_user.admin? && !current_user?(user) %>
                  <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"}, class: 'pull-right btn btn-danger' %>
              <% end %>
            </td>
          </tr>
          <tr>
      <% end %>

      </tbody>
    </table>
  </div>

  <%= will_paginate %>

</div>
